In [1]:
# Basic package
import pandas as pd
import numpy as np

#Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Save model for future use
import pickle

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

np.random.seed(42)

In [2]:
# Display all results in a cell, not just the last line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
df_1 =pd.read_csv('NFL Analytics Challenge Data Set 1.csv')
df_2 =pd.read_csv('NFL Analytics Challenge Data Set 2.csv')
df_3 =pd.read_csv('NFL Analytics Challenge Data Set 3.csv')

In [207]:
# Data cleaning and engineering
# Dataset 1
df_1['date'] =pd.to_datetime(df_1['date']) # Change to datetime format
df_1['away'] =df_1['away'].str.replace('.','').str.strip() # Remove punctuation and whitespace

# Convert text to number then split columns with composite number
df_1_cols_to_split =['third_downs_away','third_downs_home','fourth_downs_away','fourth_downs_home',
                     'comp_att_away','comp_att_home','sacks_away','sacks_home',
                     'penalties_away','penalties_home','redzone_away','redzone_home'
                    ]

dic ={'Jan':'1', 'Feb':'2', 'Mar':'3', 'Apr':'4', 'May':'5', 'Jun':'6',
      'Jul':'7', 'Aug':'8', 'Sep':'9', 'Oct':'10', 'Nov':'11', 'Dec':'12'
     }

for col in df_1_cols_to_split:
    df_1[col] =df_1[col].replace(dic, regex=True)
    df_1 =df_1.join(df_1[col].str.split('-', expand=True).add_prefix(col))
    
# Convert newly created columns to correct datatype to remove leading zeros
for col in df_1.columns[37:]:
    df_1[col] = df_1[col].astype('int64')
    
#df_1.info() #Validate that all columns have correct data type

# Convert two last columns to time in seconds
m =df_1['possession_away'].str.len().max()
df_1['possession_away'] =df_1['possession_away'].str.rjust(m, '0')
df_1['possession_home'] =df_1['possession_home'].str.rjust(m, '0')

df_1['possession_away_in_seconds'] =((df_1['possession_away'].str[:2].astype('int64'))*3600 +
                                            (df_1['possession_away'].str[3:5].astype('int64'))*60 +
                                            (df_1['possession_away'].str[6:].astype('int64')))

df_1['possession_home_in_seconds'] =((df_1['possession_home'].str[:2].astype('int64'))*3600 +
                                            (df_1['possession_home'].str[3:5].astype('int64'))*60 +
                                            (df_1['possession_home'].str[6:].astype('int64')))

In [211]:
# Data cleaning and engineering
# Dataset 2
df_2['date'] =pd.to_datetime(df_2['date']) # Change to datetime format
df_2['away'] =df_2['away'].str.replace('.','').str.strip() # Remove punctuation and whitespace

# Convert text to number then split columns with composite number
df_2_cols_to_split =['third_downs_away','third_downs_home','fourth_downs_away','fourth_downs_home',
                     'comp_att_away','comp_att_home','sacks_away','sacks_home',
                     'penalties_away','penalties_home','redzone_away','redzone_home'
                    ]

for col in df_2_cols_to_split:
    df_2[col] =df_2[col].replace(dic, regex=True)
    df_2 =df_2.join(df_2[col].str.split('-', expand=True).add_prefix(col))
    
# Convert newly created columns to correct datatype to remove leading zeros
for col in df_2.columns[37:]:
    df_2[col] = df_2[col].astype('int64')
    
#df_2.info() #Validate that all columns have correct data type

# Convert two last columns to time in seconds
m =df_2['possession_away'].str.len().max()
df_2['possession_away'] =df_2['possession_away'].str.rjust(m, '0')
df_2['possession_home'] =df_2['possession_home'].str.rjust(m, '0')

df_2['possession_away_in_seconds'] =((df_2['possession_away'].str[:2].astype('int64'))*3600 +
                                            (df_2['possession_away'].str[3:5].astype('int64'))*60 +
                                            (df_2['possession_away'].str[6:].astype('int64')))

df_2['possession_home_in_seconds'] =((df_2['possession_home'].str[:2].astype('int64'))*3600 +
                                            (df_2['possession_home'].str[3:5].astype('int64'))*60 +
                                            (df_2['possession_home'].str[6:].astype('int64')))

In [225]:
# Data cleaning and engineering
# Dataset 3
df_3['date'] =pd.to_datetime(df_3['date']) # Change to datetime format
df_3['away'] =df_3['away'].str.replace('.','').str.strip() # Remove punctuation and whitespace

In [230]:
# Create final dataframe
df = pd.concat([df_1, df_2],ignore_index=True)
df =df.merge(df_3, on=['date','away','home'])

In [241]:
df.info()
df.shape
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5088 entries, 0 to 5087
Data columns (total 65 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        5088 non-null   datetime64[ns]
 1   away                        5088 non-null   object
 2   home                        5088 non-null   object
 3   first_downs_away            5088 non-null   int64
 4   first_downs_home            5088 non-null   int64
 5   third_downs_away            5088 non-null   object
 6   third_downs_home            5088 non-null   object
 7   fourth_downs_away           5088 non-null   object
 8   fourth_downs_home           5088 non-null   object
 9   passing_yards_away          5088 non-null   int64
 10  passing_yards_home          5088 non-null   int64
 11  rushing_yards_away          5088 non-null   int64
 12  rushing_yards_home          5088 non-null   int64
 13  total_yards_away            5088 non-null   object
 14  total_yards_home            5088 non-null   int64
 15  comp_att_away               5088 non-null   object
 16  comp_att_home               5088 non-null   object
 17  sacks_away                  5088 non-null   object
 18  sacks_home                  5088 non-null   object
 19  rushing_attempts_away       5088 non-null   int64
 20  rushing_attempts_home       5088 non-null   int64
 21  fumbles_away                5088 non-null   int64
 22  fumbles_home                5088 non-null   int64
 23  int_away                    5088 non-null   int64
 24  int_home                    5088 non-null   int64
 25  turnovers_away              5088 non-null   int64
 26  turnovers_home              5088 non-null   int64
 27  penalties_away              5088 non-null   object
 28  penalties_home              5088 non-null   object
 29  redzone_away                5088 non-null   object
 30  redzone_home                5088 non-null   object
 31  drives_away                 5088 non-null   int64
 32  drives_home                 5088 non-null   int64
 33  def_st_td_away              5088 non-null   int64
 34  def_st_td_home              5088 non-null   int64
 35  possession_away             5088 non-null   object
 36  possession_home             5088 non-null   object
 37  third_downs_away0           5088 non-null   int64
 38  third_downs_away1           5088 non-null   int64
 39  third_downs_home0           5088 non-null   int64
 40  third_downs_home1           5088 non-null   int64
 41  fourth_downs_away0          5088 non-null   int64
 42  fourth_downs_away1          5088 non-null   int64
 43  fourth_downs_home0          5088 non-null   int64
 44  fourth_downs_home1          5088 non-null   int64
 45  comp_att_away0              5088 non-null   int64
 46  comp_att_away1              5088 non-null   int64
 47  comp_att_home0              5088 non-null   int64
 48  comp_att_home1              5088 non-null   int64
 49  sacks_away0                 5088 non-null   int64
 50  sacks_away1                 5088 non-null   int64
 51  sacks_home0                 5088 non-null   int64
 52  sacks_home1                 5088 non-null   int64
 53  penalties_away0             5088 non-null   int64
 54  penalties_away1             5088 non-null   int64
 55  penalties_home0             5088 non-null   int64
 56  penalties_home1             5088 non-null   int64
 57  redzone_away0               5088 non-null   int64
 58  redzone_away1               5088 non-null   int64
 59  redzone_home0               5088 non-null   int64
 60  redzone_home1               5088 non-null   int64
 61  possession_away_in_seconds  5088 non-null   int64
 62  possession_home_in_seconds  5088 non-null   int64
 63  score_away                  5088 non-null   int64
 64  score_home                  5088 non-null   int64
dtypes: datetime64[ns](1), int64(47), object(17)
memory usage: 2.6+ MB

(5088, 65)

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,penalties_home0,penalties_home1,redzone_away0,redzone_away1,redzone_home0,redzone_home1,possession_away_in_seconds,possession_home_in_seconds,score_away,score_home
0,2002-09-05,49ers,Giants,13,21,12-4,16-9,0-0,0-1,166,...,10,80,0,8,0,6,99120,116880,16,13
1,2002-09-08,Seahawks,Raiders,14,27,11-1,12-7,2-2,1-1,143,...,5,45,0,2,0,2,90540,125460,17,31
2,2002-09-08,Jets,Bills,18,26,8-2,17-7,0-0,2-2,193,...,10,82,0,9,0,8,1266,140880,37,31
3,2002-09-08,Vikings,Bears,19,20,13-5,13-7,0-0,0-0,228,...,4,33,0,7,0,6,113460,102540,23,27
4,2002-09-08,Chargers,Bengals,27,13,10-6,11-4,0-0,0-0,160,...,9,57,0,7,0,5,136080,1332,34,6

In [297]:
# Create classifier column, if home team win, then 1, if home team lose, then 0
df.loc[df['score_away'] < df['score_home'], 'home_win'] = 1 
df.loc[df['score_away'] > df['score_home'], 'home_win'] = 0 

# Convert to percentage
df['comp_att_away_percentage'] =df['comp_att_away0']/df['comp_att_away1']
df['comp_att_home_percentage'] =df['comp_att_home0']/df['comp_att_home1']

# Drop redzone columns
df = df.drop(columns=['redzone_away','redzone_home',
                      'redzone_away0', 'redzone_away1',
                      'redzone_home0','redzone_home1'])

# Create column with SuperBowl winner by year
winner_dict ={2002:'Buccaneers',
             2003:'Patriots',
             2004:'Patriots',
             2005:'Steelers',
             2006:'Colts',
             2007:'Giants',
             2008:'Steelers',
             2009:'Saints',
             2010:'Packers',
             2011:'Giants',
             2012:'Ravens',
             2013:'Seahawks',
             2014:'Patriots',
             2015:'Broncos',
             2016:'Patriots',
             2017:'Eagles',
             2018:'Patriots',
             2019:'Chiefs',
             2020:'Buccaneers',
             2021:'Rams'
             }
df['super_bowl_winner'] =df['date'].dt.year.map(winner_dict)

# TO BE DETERMINED how to treat tie record?
#df['away_win'].unique()
#df[~df['away_win'].isin([0,1])] #11 tie record

In [319]:
df

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,penalties_home0,penalties_home1,possession_away_in_seconds,possession_home_in_seconds,score_away,score_home,home_win,comp_att_away_percentage,comp_att_home_percentage,super_bowl_winner
0,2002-09-05,49ers,Giants,13,21,12-4,16-9,0-0,0-1,166,...,10,80,99120,116880,16,13,0.0,0.615385,0.622222,Buccaneers
1,2002-09-08,Seahawks,Raiders,14,27,11-1,12-7,2-2,1-1,143,...,5,45,90540,125460,17,31,1.0,0.718750,0.678571,Buccaneers
2,2002-09-08,Jets,Bills,18,26,8-2,17-7,0-0,2-2,193,...,10,82,1266,140880,37,31,0.0,0.800000,0.666667,Buccaneers
3,2002-09-08,Vikings,Bears,19,20,13-5,13-7,0-0,0-0,228,...,4,33,113460,102540,23,27,1.0,0.571429,0.606061,Buccaneers
4,2002-09-08,Chargers,Bengals,27,13,10-6,11-4,0-0,0-0,160,...,9,57,136080,1332,34,6,0.0,0.789474,0.580645,Buccaneers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,2020-12-27,Panthers,Washington,19,20,15-6,15-7,3-2,3-1,167,...,26,5,128160,87840,20,13,0.0,0.678571,0.553191,Buccaneers
5039,2020-12-27,Eagles,Cowboys,24,22,17-7,13-6,2-1,0-0,326,...,5,73,105720,110280,17,37,1.0,0.538462,0.733333,Buccaneers
5040,2020-12-27,Rams,Seahawks,20,15,19-9,17-8,0-2,0-0,216,...,31,5,118200,97800,9,20,1.0,0.558140,0.625000,Buccaneers
5041,2020-12-27,Titans,Packers,15,27,11-5,8-4,0-1,2-1,104,...,0,0,1403,131820,14,40,1.0,2.363636,0.840000,Buccaneers
5042,2020-12-28,Bills,Patriots,31,11,12-5,12-4,3-3,0-0,344,...,25,4,142860,1219,38,9,0.0,0.750000,2.333333,Buccaneers

In [261]:
# Only considered matches before 2022
df =df[df['date']<'2022-01-01']

# To be discussed
# Only considered no tie matches
df =df[df['home_win'].isin([0,1])]

In [266]:
X = df.drop(columns=['date', 'away', 'home','third_downs_away', 'third_downs_home',
                     'fourth_downs_away', 'fourth_downs_home', 'comp_att_away', 'comp_att_home',
                     'sacks_away', 'sacks_home', 'penalties_away', 'penalties_home',
                     'redzone_away', 'redzone_home','possession_away','possession_home',
                     'away_win'])

y = df['home_win']