In [1]:
# Basic package
import pandas as pd
import numpy as np
import datetime as dt

#Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Save model for future use
import pickle

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

np.random.seed(42)

In [2]:
# Display all results in a cell, not just the last line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
df_1 =pd.read_csv('NFL Analytics Challenge Data Set 1.csv')
df_2 =pd.read_csv('NFL Analytics Challenge Data Set 2.csv')
df_3 =pd.read_csv('NFL Analytics Challenge Data Set 3.csv')

In [4]:
# df1 observations

## fourth_downs_away needs to be switched
## fourth_downs_home needs to be switched

# df2 observations

## fourth_downs_away needs to be switched
## fourth_downs_home needs to be switched

# df3 observations

## OK

In [5]:
# Data cleaning and engineering
# Dataset 1
df_1['date'] =pd.to_datetime(df_1['date']) # Change to datetime format
df_1['away'] =df_1['away'].str.replace('.','').str.strip() # Remove punctuation and whitespace

# Convert text to number then split columns with composite number
df_1_cols_to_split =['third_downs_away','third_downs_home','fourth_downs_away','fourth_downs_home',
                     'comp_att_away','comp_att_home','sacks_away','sacks_home',
                     'penalties_away','penalties_home','redzone_away','redzone_home'
                    ]

dic ={'Jan':'1', 'Feb':'2', 'Mar':'3', 'Apr':'4', 'May':'5', 'Jun':'6',
      'Jul':'7', 'Aug':'8', 'Sep':'9', 'Oct':'10', 'Nov':'11', 'Dec':'12'
     }

for col in df_1_cols_to_split:
    df_1[col] =df_1[col].replace(dic, regex=True)
    df_1 =df_1.join(df_1[col].str.split('-', expand=True).add_prefix(col))
    
# Convert newly created columns to correct datatype to remove leading zeros
for col in df_1.columns[37:]:
    df_1[col] = df_1[col].astype('int64')
    
#df_1.info() #Validate that all columns have correct data type

# Convert two last columns to time in seconds
m =df_1['possession_away'].str.len().max()
df_1['possession_away'] =df_1['possession_away'].str.rjust(m, '0')
df_1['possession_home'] =df_1['possession_home'].str.rjust(m, '0')

df_1['possession_away_in_seconds'] =((df_1['possession_away'].str[:2].astype('int64'))*3600 +
                                            (df_1['possession_away'].str[3:5].astype('int64'))*60 +
                                            (df_1['possession_away'].str[6:].astype('int64')))

df_1['possession_home_in_seconds'] =((df_1['possession_home'].str[:2].astype('int64'))*3600 +
                                            (df_1['possession_home'].str[3:5].astype('int64'))*60 +
                                            (df_1['possession_home'].str[6:].astype('int64')))

In [6]:
# Data cleaning and engineering
# Dataset 2
df_2['date'] =pd.to_datetime(df_2['date']) # Change to datetime format
df_2['away'] =df_2['away'].str.replace('.','').str.strip() # Remove punctuation and whitespace

# Convert text to number then split columns with composite number
df_2_cols_to_split =['third_downs_away','third_downs_home','fourth_downs_away','fourth_downs_home',
                     'comp_att_away','comp_att_home','sacks_away','sacks_home',
                     'penalties_away','penalties_home','redzone_away','redzone_home'
                    ]

for col in df_2_cols_to_split:
    df_2[col] =df_2[col].replace(dic, regex=True)
    df_2 =df_2.join(df_2[col].str.split('-', expand=True).add_prefix(col))
    
# Convert newly created columns to correct datatype to remove leading zeros
for col in df_2.columns[37:]:
    df_2[col] = df_2[col].astype('int64')
    
#df_2.info() #Validate that all columns have correct data type

# Convert two last columns to time in seconds
m =df_2['possession_away'].str.len().max()
df_2['possession_away'] =df_2['possession_away'].str.rjust(m, '0')
df_2['possession_home'] =df_2['possession_home'].str.rjust(m, '0')

df_2['possession_away_in_seconds'] =((df_2['possession_away'].str[:2].astype('int64'))*3600 +
                                            (df_2['possession_away'].str[3:5].astype('int64'))*60 +
                                            (df_2['possession_away'].str[6:].astype('int64')))

df_2['possession_home_in_seconds'] =((df_2['possession_home'].str[:2].astype('int64'))*3600 +
                                            (df_2['possession_home'].str[3:5].astype('int64'))*60 +
                                            (df_2['possession_home'].str[6:].astype('int64')))

In [7]:
# Data cleaning and engineering
# Dataset 3
df_3['date'] =pd.to_datetime(df_3['date']) # Change to datetime format
df_3['away'] =df_3['away'].str.replace('.','').str.strip() # Remove punctuation and whitespace

In [8]:
# Create final dataframe
df = pd.concat([df_1, df_2],ignore_index=True)
df =df.merge(df_3, on=['date','away','home'])

In [9]:
df.info()
df.shape
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5088 entries, 0 to 5087
Data columns (total 65 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        5088 non-null   datetime64[ns]
 1   away                        5088 non-null   object
 2   home                        5088 non-null   object
 3   first_downs_away            5088 non-null   int64
 4   first_downs_home            5088 non-null   int64
 5   third_downs_away            5088 non-null   object
 6   third_downs_home            5088 non-null   object
 7   fourth_downs_away           5088 non-null   object
 8   fourth_downs_home           5088 non-null   object
 9   passing_yards_away          5088 non-null   int64
 10  passing_yards_home          5088 non-null   int64
 11  rushing_yards_away          5088 non-null   int64
 12  rushing_yards_home          5088 non-null   int64
 13  total_yards_away            5088 non-null   object
 14  total_yards_home            5088 non-null   int64
 15  comp_att_away               5088 non-null   object
 16  comp_att_home               5088 non-null   object
 17  sacks_away                  5088 non-null   object
 18  sacks_home                  5088 non-null   object
 19  rushing_attempts_away       5088 non-null   int64
 20  rushing_attempts_home       5088 non-null   int64
 21  fumbles_away                5088 non-null   int64
 22  fumbles_home                5088 non-null   int64
 23  int_away                    5088 non-null   int64
 24  int_home                    5088 non-null   int64
 25  turnovers_away              5088 non-null   int64
 26  turnovers_home              5088 non-null   int64
 27  penalties_away              5088 non-null   object
 28  penalties_home              5088 non-null   object
 29  redzone_away                5088 non-null   object
 30  redzone_home                5088 non-null   object
 31  drives_away                 5088 non-null   int64
 32  drives_home                 5088 non-null   int64
 33  def_st_td_away              5088 non-null   int64
 34  def_st_td_home              5088 non-null   int64
 35  possession_away             5088 non-null   object
 36  possession_home             5088 non-null   object
 37  third_downs_away0           5088 non-null   int64
 38  third_downs_away1           5088 non-null   int64
 39  third_downs_home0           5088 non-null   int64
 40  third_downs_home1           5088 non-null   int64
 41  fourth_downs_away0          5088 non-null   int64
 42  fourth_downs_away1          5088 non-null   int64
 43  fourth_downs_home0          5088 non-null   int64
 44  fourth_downs_home1          5088 non-null   int64
 45  comp_att_away0              5088 non-null   int64
 46  comp_att_away1              5088 non-null   int64
 47  comp_att_home0              5088 non-null   int64
 48  comp_att_home1              5088 non-null   int64
 49  sacks_away0                 5088 non-null   int64
 50  sacks_away1                 5088 non-null   int64
 51  sacks_home0                 5088 non-null   int64
 52  sacks_home1                 5088 non-null   int64
 53  penalties_away0             5088 non-null   int64
 54  penalties_away1             5088 non-null   int64
 55  penalties_home0             5088 non-null   int64
 56  penalties_home1             5088 non-null   int64
 57  redzone_away0               5088 non-null   int64
 58  redzone_away1               5088 non-null   int64
 59  redzone_home0               5088 non-null   int64
 60  redzone_home1               5088 non-null   int64
 61  possession_away_in_seconds  5088 non-null   int64
 62  possession_home_in_seconds  5088 non-null   int64
 63  score_away                  5088 non-null   int64
 64  score_home                  5088 non-null   int64
dtypes: datetime64[ns](1), int64(47), object(17)
memory usage: 2.6+ MB

(5088, 65)

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,penalties_home0,penalties_home1,redzone_away0,redzone_away1,redzone_home0,redzone_home1,possession_away_in_seconds,possession_home_in_seconds,score_away,score_home
0,2002-09-05,49ers,Giants,13,21,12-4,16-9,0-0,0-1,166,...,10,80,0,8,0,6,99120,116880,16,13
1,2002-09-08,Seahawks,Raiders,14,27,11-1,12-7,2-2,1-1,143,...,5,45,0,2,0,2,90540,125460,17,31
2,2002-09-08,Jets,Bills,18,26,8-2,17-7,0-0,2-2,193,...,10,82,0,9,0,8,1266,140880,37,31
3,2002-09-08,Vikings,Bears,19,20,13-5,13-7,0-0,0-0,228,...,4,33,0,7,0,6,113460,102540,23,27
4,2002-09-08,Chargers,Bengals,27,13,10-6,11-4,0-0,0-0,160,...,9,57,0,7,0,5,136080,1332,34,6

In [10]:
# Create classifier column, if home team win, then 1, if home team lose, then 0
df.loc[df['score_away'] < df['score_home'], 'home_win'] = 1 
df.loc[df['score_away'] > df['score_home'], 'home_win'] = 0 

# Convert to percentage
df['comp_att_away_percentage'] =df['comp_att_away0']/df['comp_att_away1']
df['comp_att_home_percentage'] =df['comp_att_home0']/df['comp_att_home1']

# Drop redzone columns
df = df.drop(columns=['redzone_away','redzone_home',
                      'redzone_away0', 'redzone_away1',
                      'redzone_home0','redzone_home1'])

# Create column with SuperBowl winner by year
winner_dict ={2002:'Buccaneers',
             2003:'Patriots',
             2004:'Patriots',
             2005:'Steelers',
             2006:'Colts',
             2007:'Giants',
             2008:'Steelers',
             2009:'Saints',
             2010:'Packers',
             2011:'Giants',
             2012:'Ravens',
             2013:'Seahawks',
             2014:'Patriots',
             2015:'Broncos',
             2016:'Patriots',
             2017:'Eagles',
             2018:'Patriots',
             2019:'Chiefs',
             2020:'Buccaneers',
             2021:'Rams'
             }
df['super_bowl_winner'] =df['date'].dt.year.map(winner_dict)

# create a dictionary that shows teams in conference/division
## HA 4/1: This code column no longer needed.
# AFC vs NFC Conferences
# each has North, South, East, and West Divisions
# conf_divisions = {
#     'Colts':'AFC South', 
#     'Ravens':'AFC North', 
#     'Seahawks':'NFC West', 
#     'Patriots':'AFC East', 
#     'Packers':'NFC North', 
#     'Giants':'NFC East',
#     'Steelers':'AFC North', 
#     'Jets':'AFC East', 
#     'Titans':'AFC South', 
#     'Panthers':'NFC South', 
#     'Eagles':'NFC East', 
#     'Chargers':'AFC West',
#     'Saints':'NFC South', 
#     '49ers':'NFC West', 
#     'Falcons':'NFC South', 
#     'Texans':'AFC South', 
#     'Jaguars':'AFC South', 
#     'Chiefs':'AFC West', 
#     'Vikings':'NFC North',
#     'Broncos':'AFC West', 
#     'Cowboys':'NFC East', 
#     'Cardinals':'NFC West', 
#     'Bengals':'AFC North', 
#     'Bills':'AFC East', 
#     'Rams':'NFC West', 
#     'Lions':'NFC North',
#     'Washington':'NFC East', 
#     'Raiders':'AFC West', 
#     'Browns':'AFC North', 
#     'Buccaneers':'NFC South', 
#     'Bears':'NFC North', 
#     'Dolphins':'AFC East'  
# }
# df['Conference_Division'] = df['away'].map(conf_divisions)

# Create column Super Bowl Year
df['super_bowl_year'] =df['date'].dt.year

# TO BE DETERMINED how to treat tie record?
#df['away_win'].unique()
#df[~df['away_win'].isin([0,1])] #11 tie record

In [11]:
df

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,penalties_home1,possession_away_in_seconds,possession_home_in_seconds,score_away,score_home,home_win,comp_att_away_percentage,comp_att_home_percentage,super_bowl_winner,super_bowl_year
0,2002-09-05,49ers,Giants,13,21,12-4,16-9,0-0,0-1,166,...,80,99120,116880,16,13,0.0,0.615385,0.622222,Buccaneers,2002
1,2002-09-08,Seahawks,Raiders,14,27,11-1,12-7,2-2,1-1,143,...,45,90540,125460,17,31,1.0,0.718750,0.678571,Buccaneers,2002
2,2002-09-08,Jets,Bills,18,26,8-2,17-7,0-0,2-2,193,...,82,1266,140880,37,31,0.0,0.800000,0.666667,Buccaneers,2002
3,2002-09-08,Vikings,Bears,19,20,13-5,13-7,0-0,0-0,228,...,33,113460,102540,23,27,1.0,0.571429,0.606061,Buccaneers,2002
4,2002-09-08,Chargers,Bengals,27,13,10-6,11-4,0-0,0-0,160,...,57,136080,1332,34,6,0.0,0.789474,0.580645,Buccaneers,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5083,2022-01-23,Rams,Buccaneers,24,20,11-4,14-3,0-0,4-2,355,...,61,122880,93120,30,27,0.0,0.736842,0.555556,NaN,2022
5084,2022-01-23,Bills,Chiefs,23,30,14-6,13-8,4-4,1-1,313,...,1,99420,131880,36,42,1.0,0.729730,0.750000,NaN,2022
5085,2022-01-30,Bengals,Chiefs,21,24,14-8,12-6,0-0,0-0,243,...,2,129360,106920,27,24,0.0,0.605263,0.666667,NaN,2022
5086,2022-01-30,49ers,Rams,16,25,9-3,18-11,0-0,0-1,232,...,2,87660,128340,17,20,1.0,0.533333,0.688889,NaN,2022
5087,2022-02-13,Rams,Bengals,18,15,15-6,14-3,1-1,3-1,270,...,31,110820,105180,23,20,0.0,0.634146,0.676471,NaN,2022

In [12]:
# need to switch third_downs_away and third_downs_home (currently shown as opposite)

# third downs away
df[['third_downs_away','third_downs_completed_away']] = df['third_downs_away'].str.split('-',expand=True)

# third downs home
df[['third_downs_home','third_downs_completed_home']] = df['third_downs_home'].str.split('-',expand=True)

In [13]:
df

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,possession_home_in_seconds,score_away,score_home,home_win,comp_att_away_percentage,comp_att_home_percentage,super_bowl_winner,super_bowl_year,third_downs_completed_away,third_downs_completed_home
0,2002-09-05,49ers,Giants,13,21,12,16,0-0,0-1,166,...,116880,16,13,0.0,0.615385,0.622222,Buccaneers,2002,4,9
1,2002-09-08,Seahawks,Raiders,14,27,11,12,2-2,1-1,143,...,125460,17,31,1.0,0.718750,0.678571,Buccaneers,2002,1,7
2,2002-09-08,Jets,Bills,18,26,8,17,0-0,2-2,193,...,140880,37,31,0.0,0.800000,0.666667,Buccaneers,2002,2,7
3,2002-09-08,Vikings,Bears,19,20,13,13,0-0,0-0,228,...,102540,23,27,1.0,0.571429,0.606061,Buccaneers,2002,5,7
4,2002-09-08,Chargers,Bengals,27,13,10,11,0-0,0-0,160,...,1332,34,6,0.0,0.789474,0.580645,Buccaneers,2002,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5083,2022-01-23,Rams,Buccaneers,24,20,11,14,0-0,4-2,355,...,93120,30,27,0.0,0.736842,0.555556,NaN,2022,4,3
5084,2022-01-23,Bills,Chiefs,23,30,14,13,4-4,1-1,313,...,131880,36,42,1.0,0.729730,0.750000,NaN,2022,6,8
5085,2022-01-30,Bengals,Chiefs,21,24,14,12,0-0,0-0,243,...,106920,27,24,0.0,0.605263,0.666667,NaN,2022,8,6
5086,2022-01-30,49ers,Rams,16,25,9,18,0-0,0-1,232,...,128340,17,20,1.0,0.533333,0.688889,NaN,2022,3,11
5087,2022-02-13,Rams,Bengals,18,15,15,14,1-1,3-1,270,...,105180,23,20,0.0,0.634146,0.676471,NaN,2022,6,3

In [14]:
# also need to switch fourth_downs_away and fourth_downs_home

### NOTE: need to investigate within each data file because of data issues for fourth down. Data set 1 seems to be
### correct. But dataset 2 has opposite

# fourth_downs_away
df[['fourth_downs_away','fourth_downs_completed_away']] = df['fourth_downs_away'].str.split('-',expand=True)

# fourth_downs_home
df[['fourth_downs_home','fourth_downs_completed_home']] = df['fourth_downs_home'].str.split('-',expand=True)

In [15]:
df

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,score_home,home_win,comp_att_away_percentage,comp_att_home_percentage,super_bowl_winner,super_bowl_year,third_downs_completed_away,third_downs_completed_home,fourth_downs_completed_away,fourth_downs_completed_home
0,2002-09-05,49ers,Giants,13,21,12,16,0,0,166,...,13,0.0,0.615385,0.622222,Buccaneers,2002,4,9,0,1
1,2002-09-08,Seahawks,Raiders,14,27,11,12,2,1,143,...,31,1.0,0.718750,0.678571,Buccaneers,2002,1,7,2,1
2,2002-09-08,Jets,Bills,18,26,8,17,0,2,193,...,31,0.0,0.800000,0.666667,Buccaneers,2002,2,7,0,2
3,2002-09-08,Vikings,Bears,19,20,13,13,0,0,228,...,27,1.0,0.571429,0.606061,Buccaneers,2002,5,7,0,0
4,2002-09-08,Chargers,Bengals,27,13,10,11,0,0,160,...,6,0.0,0.789474,0.580645,Buccaneers,2002,6,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5083,2022-01-23,Rams,Buccaneers,24,20,11,14,0,4,355,...,27,0.0,0.736842,0.555556,NaN,2022,4,3,0,2
5084,2022-01-23,Bills,Chiefs,23,30,14,13,4,1,313,...,42,1.0,0.729730,0.750000,NaN,2022,6,8,4,1
5085,2022-01-30,Bengals,Chiefs,21,24,14,12,0,0,243,...,24,0.0,0.605263,0.666667,NaN,2022,8,6,0,0
5086,2022-01-30,49ers,Rams,16,25,9,18,0,0,232,...,20,1.0,0.533333,0.688889,NaN,2022,3,11,0,1
5087,2022-02-13,Rams,Bengals,18,15,15,14,1,3,270,...,20,0.0,0.634146,0.676471,NaN,2022,6,3,1,1

In [16]:
# convert third down and fourth down to decimal

# third down away
df['third_down_perc_away'] = df['third_downs_completed_away'].astype(int) / df['third_downs_away'].astype(int)

# third down home
df['third_down_home_perc'] = df['third_downs_completed_home'].astype(int) / df['third_downs_home'].astype(int)

# fourth down away (NOTE: Switched columns because of previous switching, underlying columns will be dropped)
df['fourth_down_perc_away'] = df['fourth_downs_away'].astype(int) / df['fourth_downs_completed_away'].astype(int)

# fourth down home (NOTE: Switched columns because of previous switching, underlying columns will be dropped)
df['fourth_down_perc_home'] = df['fourth_downs_home'].astype(int) / df['fourth_downs_completed_home'].astype(int)

In [17]:
df.dtypes

date                           datetime64[ns]
away                                   object
home                                   object
first_downs_away                        int64
first_downs_home                        int64
                                    ...
fourth_downs_completed_home            object
third_down_perc_away                  float64
third_down_home_perc                  float64
fourth_down_perc_away                 float64
fourth_down_perc_home                 float64
Length: 72, dtype: object

In [18]:
df.to_excel('final_dataset_TEST.xlsx')

In [ ]:
# filter for january and february
df[df['date'].dt.month.isin([1,2])]

In [ ]:
# update year column by subtracting 1 for games in Jan/Feb
df.loc[df['date'].dt.month.isin([1,2]), 'super_bowl_year'] = df.loc[df['date'].dt.month.isin([1,2]), 'super_bowl_year'] - 1

In [ ]:
# check 
df[df['date'].dt.month.isin([1,2])]

In [ ]:
# update the super bowl winner for rows changed
df['super_bowl_winner'] = df['super_bowl_year'].map(winner_dict)

In [ ]:
# check
df

In [ ]:
# delete the conference_division column (what value does it provide?)

In [ ]:
# differentiate between playoffs and regular season???

# correct games played to correct super bowl year
# all games in February and January belong to previous year
# filter games in this range


# identify super bowl winner in each season (DONE/UPDATED)

### TO DO for monday:

In [ ]:
# step 1
# aggregate data by year (sum yards, etc.)
# groupby
# how to group? sum, average

# step 2
# vertically combine all data to get FULL team season statistics

# step 3
# for each year, add column indicating 0 did not win SB, 1 won SB

In [ ]:
# Only considered matches before 2022
df =df[df['date']<'2022-01-01']

# To be discussed
# Only considered no tie matches
df =df[df['home_win'].isin([0,1])]

In [ ]:
X = df.drop(columns=['date', 'away', 'home','third_downs_away', 'third_downs_home',
                     'fourth_downs_away', 'fourth_downs_home', 'comp_att_away', 'comp_att_home',
                     'sacks_away', 'sacks_home', 'penalties_away', 'penalties_home',
                     'redzone_away', 'redzone_home','possession_away','possession_home',
                     'away_win'])

y = df['home_win']